$text-header-nav: rgb(255, 255, 255);
$text-header-nav-hover-bg: rgb(143, 95, 203);
$bg-header: rgb(132, 75, 203);
$text: rgb(37 9 57);
$sub-text: rgb(107, 114, 128);
$text-h1: rgb(46, 30, 65);
//$header-dropdown-stroke: rgb(255, 255, 255);
//$header-navlink-svg: rgb(255, 255, 255);
//#2d0f44;
//rgb(58, 10, 94);
$text-theme-name: rgb(121, 55, 203);
//rgb(97, 39, 197);
//rgb(124, 58, 237);
$bg-profile-container: rgb(255, 255, 255);
$btn-profile-edit-color: rgb(255, 255, 255);
$bg-btn-profile-edit: rgb(156, 163, 175);
$text-auth-header: rgb(30, 66, 159);
